html {
  font-size: 62.5%;
}

body {
  background-color: #f7f7f7;
}

.heading {
  color: white;
}

.buttons {
  margin-top: 1rem;
}

p1 {
  color: whitesmoke;
}

.forgetcontainer {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title {
  font-size: 1.55rem;
}

.forget_form label {
  font-size: 1.6rem;
}

.forget_form input {
  font-size: 1.67rem;
}

.forget_form button {
  font-size: 1.2rem !important;
  margin: 1rem 0;
  float: right;
}

.alert_box {
  font-size: 1.37rem;
}

.modal-footer a {
  font-size: 1.55rem;
}

.input_password_container {
  position: relative;
}
