html {
  font-size: 62.5%;
}

body {
  background-color: #f7f7f7;
}

.heading {
  color: white;
}

.buttons {
  margin-top: 1rem;
}

p1 {
  color: whitesmoke;
}

.resetcontainer {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title {
  font-size: 1.55rem;
}

.reset_form label {
  font-size: 1.45rem;
}

.reset_form input {
  font-size: 1.67rem;
  margin: 0.5rem 0;
}

.reset_form button {
  font-size: 1.2rem !important;
  margin: 1rem 0;
  float: right;
}

.alert_box {
  font-size: 1.37rem;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.input_password_container {
  position: relative;
}

.goToLogin{
  font-size:1.7rem;
}